/wp-admin
/wp-includes
/*.php
/*.txt
/*.html
/wp-content/ai1wm-backups
/wp-content/cache
/wp-content/downloads
/wp-content/languages
/wp-content/mu-plugins
/wp-content/plugins
/wp-content/updraft
/wp-content/upgrade
/wp-content/uploads
/wp-content/wflogs
/wp-content/wp-rocket-config
/wp-content/advanced-cache.php
/wp-content/debug.log
/wp-content/index.php
/wp-content/package.json
/wp-content/themes/twentytwentytwo
/wp-content/themes/twentytwentythree
