.bootstrap-container.single-industry-multimodal-logistics .full-width {
  height: 450px;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .full-width {
    height: 450px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .main-heading,
.bootstrap-container.single-industry-multimodal-logistics .sub-heading {
  text-wrap: pretty;
}
.bootstrap-container.single-industry-multimodal-logistics .parent-breadcrumb {
  color: #009BDC;
  font-size: 20px;
  line-height: 28px;
}
.bootstrap-container.single-industry-multimodal-logistics .parent-breadcrumb a {
  text-decoration: none;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_1.content {
  padding-block-start: 48px;
  padding-block-end: 32px;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_1.content h2 {
  color: #003375;
  font-family: "gotham_boldregular", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-block-end: 16px;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_1.content p {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  text-align: pretty;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 {
  padding-block-start: 32px;
  padding-block-end: 32px;
  position: relative;
  z-index: 1;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: calc((100vw - 100%) / -2);
  width: 100vw;
  height: 100%;
  background-color: var(--tlf-background-color, #EDEFF0);
  opacity: 0.5;
  z-index: -1;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .main-heading {
  color: #003375;
  font-family: "gotham_boldregular", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-wrap: pretty;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .main-heading {
    font-size: 32px;
    line-height: 55px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin: -70px auto 0 auto;
}
@media screen and (min-width: 769px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards {
    flex-direction: row;
    gap: unset;
  }
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-0 {
    order: 6;
    align-items: center;
    justify-content: center;
    min-height: unset;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-0 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 300px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-0 > .card {
    position: unset;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-0 > .card {
  position: absolute;
  bottom: -50px;
  right: -70px;
}
@media screen and (min-width: 1900px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-0 > .card {
    bottom: -100px;
    right: -100px;
  }
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-2 {
    order: 2;
    align-items: center;
    justify-content: center;
    min-height: unset;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  min-height: 300px;
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-2 > .card {
    position: unset;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-2 > .card {
  position: absolute;
  bottom: -50px;
  left: -100px;
}
@media screen and (min-width: 1900px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-2 > .card {
    bottom: -100px;
    left: -150px;
  }
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-3 {
    order: 5;
    align-items: center;
    justify-content: center;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-4 {
    order: 1;
    align-items: center;
    justify-content: center;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-5 {
    order: 3;
    align-items: center;
    justify-content: center;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-5 {
  display: flex;
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-6 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-7 {
    order: 4;
    align-items: center;
    justify-content: center;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-8 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__col-9 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card {
    width: 350px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px;
  height: auto;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card.__card-none {
  background-color: transparent;
  box-shadow: none;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .card-header,
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .card-body {
  padding: 0;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card h3 {
  color: #003375;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-wrap: pretty;
  margin-block-end: 16px;
}
@media screen and (min-width: 1900px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card h3 {
    font-size: 20px;
    line-height: 24px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__con {
  color: #E30613;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-wrap: pretty;
  margin-block-end: 16px;
}
@media screen and (min-width: 1900px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__con {
    font-size: 16px;
    line-height: 24px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__con {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__con svg {
  width: 20px;
  height: 20px;
  fill: #E30613;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__con span {
  display: block;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__pro {
  color: #003375;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-wrap: pretty;
}
@media screen and (min-width: 1900px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__pro {
    font-size: 16px;
    line-height: 24px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__pro {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__pro svg {
  width: 20px;
  height: 20px;
  fill: #003375;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .card .__pro span {
  display: block;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__pie-chart {
  position: relative;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_2 .cards .__pie-chart svg {
  width: 100%;
  height: auto;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_3 {
  padding-block-start: 32px;
  padding-block-end: 32px;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_3 .main-heading {
  color: #003375;
  font-family: "gotham_boldregular", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-wrap: pretty;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_3 .main-heading {
    font-size: 32px;
    line-height: 55px;
  }
}
@media screen and (max-width: 768px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_3 .card-desktop {
    display: none;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_3 .card-desktop {
  margin-block: 32px;
  display: flex;
  justify-content: center;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_3 .card-desktop svg {
  width: 80%;
  height: auto;
}
@media screen and (min-width: 769px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_3 .card-mobile {
    display: none;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_3 .card-mobile {
  margin-block: 32px;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_3 .card-mobile svg {
  width: 100%;
  height: auto;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 {
  padding-block-start: 48px;
  padding-block-end: 48px;
  position: relative;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: calc((100vw - 100%) / -2);
  width: 100vw;
  height: 100%;
  background-color: var(--tlf-background-color, #EDEFF0);
  opacity: 0.5;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .main-heading {
  color: #003375;
  font-family: "gotham_boldregular", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-wrap: pretty;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_4 .main-heading {
    font-size: 40px;
    line-height: 48px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .__lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  padding-inline-start: 0;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .__lists li {
  border-block-end: 1px solid #D0D0D0;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .__lists li:last-child {
  border-block-end: none;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .__lists li:last-child .__title {
  font-size: 14px;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .__lists li .__title {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-wrap: pretty;
  padding-block-end: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .__lists li .__title strong {
  color: #009BDC;
  font-size: 30px;
  line-height: 24px;
  text-wrap: nowrap;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .__right-image-container {
  display: flex;
  align-items: center;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_4 .__right-image-container .__right-image {
  display: flex;
  align-items: center;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 {
  padding-block-start: 48px;
  padding-block-end: 48px;
  position: relative;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .main-heading {
  color: #003375;
  font-family: "gotham_boldregular", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-wrap: pretty;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_5 .main-heading {
    font-size: 40px;
    line-height: 48px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .col {
  padding: 0;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .card {
  padding: 16px;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_5 .__card-1 {
    border-inline: 2px solid #003375;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .__icon-container {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .general_info_5 .__icon-container {
    margin-block-end: 16px;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .__icon-container .__icon {
  width: 120px;
  height: 120px;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .__title-container {
  display: flex;
  justify-content: center;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .__title-container .__title {
  text-align: center;
  margin-block-end: 16px;
  color: #003375;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-wrap: pretty;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .__description-container {
  display: flex;
  justify-content: center;
}
.bootstrap-container.single-industry-multimodal-logistics .general_info_5 .__description-container .__description {
  text-align: center;
  margin-block-end: 16px;
  color: #003375;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-wrap: pretty;
}
.bootstrap-container.single-industry-multimodal-logistics .cta-container {
  padding-block-end: 2rem;
  text-align: center !important;
  display: block !important;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .cta-container {
    padding-block-end: 3rem;
    padding-block-end: 3rem;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .cta-container .cta-inner {
  display: flex;
  justify-content: center;
}
.bootstrap-container.single-industry-multimodal-logistics .cta-container .cta-inner .btn.btn-primary {
  white-space: unset;
  background-color: #E30613 !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  text-transform: capitalize !important;
  font-size: 16px !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}
.bootstrap-container.single-industry-multimodal-logistics .cta-container .cta-inner .btn.btn-primary:hover {
  background-color: #d60006 !important;
  color: #fff !important;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources {
  position: relative;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: calc((100vw - 100%) / -2);
  width: 100vw;
  height: 100%;
  background-color: #EDEFF0;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .blue {
  color: #003375;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .card {
  --bs-body-bg: #fff;
  --bs-border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .card .category {
  font-size: 0.9375rem;
  color: #E30613;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .card .post-title {
  font-size: 1.125rem;
  color: #000000;
  font-weight: bold;
  font-weight: 600;
  line-height: 26px;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .card .card-body {
  min-height: 100px;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .card .card-body.wpk-box-brand:before {
  border-top-right-radius: 0;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .card .card-footer.wpk-box-brand:before {
  border-top-right-radius: 0;
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .show-more-top {
  display: none;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .related-resources .show-more-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources .show-more-bottom {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .bootstrap-container.single-industry-multimodal-logistics .related-resources .show-more-bottom {
    display: none;
  }
}
.bootstrap-container.single-industry-multimodal-logistics .related-resources a {
  color: #E30613;
  text-decoration: none;
}

/*# sourceMappingURL=single-industry-multimodal-logistics.css.map */
