@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

.bootstrap-container {

    &.industry.single {

        background-color: #fff;

        .blue {
            color: #003375;
        }

        h2 {
            @include rfs(2.1875rem, font-size);
            @include rfs(2.8125rem, line-height);
        }

        h3 {
            @include rfs(1.5625rem, font-size);
            @include rfs(2.1875rem, line-height);
        }

        .featured-testimonials {

            text-align: center;
            position: relative;

            // .quote::before {
            //     top: -50px;
            //     color: #58879B;
            //     opacity: .2;
            // }

            .quote-quote {
                p {
                    @include rfs(1.25rem, font-size);
                    @include rfs(2.1875rem, line-height);
                    font-weight: 600;
                }
            }

            .quote-logo {
                img {
                    width: 200px;
                }
            }

            .swiper-pagination-bullet {
                width: 20px;
                height: 20px;
            }

            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #E30613;
                font-weight: 600;
            }
        }

        .video {

            &-container {
                position: relative;
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                svg {
                    position: absolute;
                }
            }

            position: relative;

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: calc((100vw - 100%) / -2);
                width: 100vw;
                height: 100%;
                background-color: #EDEFF0;
            }

            &+.tabbed {

                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: calc((100vw - 100%) / -2);
                    width: 100vw;
                    height: 100%;
                    background-color: #FFF;
                }

                &+.callout {

                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 0;
                        left: calc((100vw - 100%) / -2);
                        width: 100vw;
                        height: 100%;
                        background-color: #EDEFF0;
                    }

                    &+.featured-resource {

                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            top: 0;
                            left: calc((100vw - 100%) / -2);
                            width: 100vw;
                            height: 100%;
                            background-color: #FFF;
                        }

                        &+.related-resources {

                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                display: block;
                                top: 0;
                                left: calc((100vw - 100%) / -2);
                                width: 100vw;
                                height: 100%;
                                background-color: #EDEFF0;
                            }
                        }
                    }

                    &+.related-resources {

                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            top: 0;
                            left: calc((100vw - 100%) / -2);
                            width: 100vw;
                            height: 100%;
                            background-color: #FFF;
                        }
                    }
                }
            }
        }

        .tabbed {

            position: relative;

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: calc((100vw - 100%) / -2);
                width: 100vw;
                height: 100%;
                background-color: #EDEFF0;
            }

            .sub-heading {
                text-align: center;
            }
        }

        .callout {

            .sub-heading {
                text-align: center;
            }

            .icon {

                text-align: center;

                @include media-breakpoint-up(lg) {
                    text-align: right;
                }
            }

            .headline,
            .excerpt {
                text-align: center;

                @include media-breakpoint-up(lg) {
                    text-align: left;
                }
            }

            .headline {
                margin-bottom: 0;
            }
        }

        .subpages {

            padding-block-start: 4rem;
            padding-block-end: 3rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: calc((100vw - 100%) / -2);
                width: 100vw;
                height: 100%;
                background-color: #EDEFF0;
            }

            .sub-heading {
                text-align: center;
                text-wrap: pretty;
                font-size: 21px;
                line-height: 28px;
            }

            .card-body {
                background-color: #FFFFFF;
                border-radius: 14px;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                padding-block: .5rem;
                transition: all .1s ease-in-out;

                &:hover {
                    scale: 1.05;
                    transform-origin: center;
                }
            }

            a {
                text-decoration: none;
                font-weight: 700;
            }

            .subpage {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    width: 70px;
                }
            }

        }

        .featured-resource {

            padding-block: 4rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: calc((100vw - 100%) / -2);
                width: 100vw;
                height: 100%;
                background-color: #EDEFF0;
            }

            &+.related-resources {

                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: calc((100vw - 100%) / -2);
                    width: 100vw;
                    height: 100%;
                    background-color: #FFF;
                }
            }

            .resource-type {
                margin-block-start: 2rem;

                @include media-breakpoint-up(lg) {
                    margin-block-start: 0;
                }
            }

            img {
                border-radius: 20px;
            }

            .resource-type {
                text-transform: uppercase;
                color: #000000;
            }

            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #E30613;
                font-weight: 600;
            }
        }
    }
}

.is-desktop {

    .tabbed .mobile-only {
        display: none;
    }

    .tabbed .desktop-only {

        .nav-justified>.nav-link,
        .nav-justified .nav-item {
            text-align: center;
        }

        .nav-tabs {

            cursor: pointer;
            --bs-nav-tabs-border-radius: 15px;
            --bs-nav-tabs-link-active-color: #fff;
            --bs-nav-tabs-link-active-bg: #FF0000;
            --bs-nav-tabs-link-active-border-color: #E30613;

            border-bottom: 2px solid var(--bs-nav-tabs-link-active-border-color);

            .nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #003375;
                font-weight: 700;

                &.active,
                .nav-item.show .nav-link {
                    color: #ffffff;
                }
            }
        }
    }
}

.is-mobile {

    .tabbed .desktop-only {
        display: none;
    }

    .tabbed .mobile-only {

        display: block;

        .accordion-item {

            background-color: transparent;
            filter: drop-shadow(0 0 0.75rem #0000001A);
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            .accordion-header {

                .accordion-button {
                    font-weight: 700;
                    color: #FFF;
                    background-color: #E30613;
                    border-top-right-radius: 7px;
                    border-top-left-radius: 7px;

                    svg path {
                        stroke: #FFFFFF;
                    }

                    &.collapsed {
                        color: #003375;
                        background-color: #FFF;
                        border-radius: 7px;
                        border: 1px solid #C9C9C9;

                        .dash {
                            display: none;
                        }

                        .plus {
                            display: inline-block;

                            svg path {
                                stroke: #E30613;
                            }
                        }
                    }

                    >div:first-child {
                        display: flex;
                        flex-grow: 1;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .plus {
                        display: none;
                    }
                }

                .accordion-button:after {
                    display: none;
                }
            }

            .accordion-body {
                padding-bottom: 30px;
                background-color: #fff;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                border-right: 1px solid #C9C9C9;
                border-bottom: 1px solid #C9C9C9;
                border-left: 1px solid #C9C9C9;
            }
        }
    }
}

.related-resources {

    position: relative;

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: calc((100vw - 100%) / -2);
        width: 100vw;
        height: 100%;
        background-color: #EDEFF0;
    }

    .card {
        --bs-body-bg: #fff;
        --bs-border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .category {
            @include font-size(0.9375rem); // 15px
            color: #E30613;
        }

        .post-title {
            @include font-size(1.125rem); // 18px;
            color: #000000;
            font-weight: bold;
            font-weight: 600;
            line-height: 26px;
        }

        .card-body {
            min-height: 100px;

            &.wpk-box-brand:before {
                border-top-right-radius: 0;
            }
        }

        .card-footer {
            &.wpk-box-brand:before {
                border-top-right-radius: 0;
            }
        }
    }

    .show-more {

        &-top {
            display: none;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        &-bottom {
            display: flex;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    a {
        color: #E30613;
        text-decoration: none;
    }
}


// --- overrides bootstrap

.list-group {
    .list-group-item {
        text-align: left;
        --bs-list-group-border-width: 1px;
        --bs-list-group-border-color: #ccc;
    }
}

// --- overrides uncode

.fade {
    opacity: unset;
}


// -- handle bg image for mobile

.bootstrap-container {
    @include media-breakpoint-down(md) {

        .hero-carousels {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 60% 0;
            position: relative;

            .full-width {
                display: none;
            }

            .single-h-padding.limit-width {
                display: flex;
                height: 100%;
            }

            ._2x-hero-content {
                position: relative;
                padding-block: 3rem;
                margin-left: unset;
                margin-right: unset;
                padding-left: unset;
            }
        }
    }

    @include media-breakpoint-up(md) {
        .hero-carousels {
            background-image: none;
        }
    }

    .hero-carousels+.tabbed {
        margin-top: 0 !important;
    }
}