@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

h1:not([class*="fontsize-"]),
.h1:not([class*="fontsize-"]) {
    font-size: 34px !important;
    /* overrides uncode custom style */
}

.bootstrap-container {

    a {
        --bs-link-color-rgb: #009BDC;
    }

    &.resources {

        a {
            color: #009BDC;

        }

        .sub-heading {
            text-transform: uppercase;
        }

        .full-width {
            height: 235px;

            @include media-breakpoint-up(lg) {
                height: 375px;
            }
        }

        .blue {
            color: #003375;
        }

        .red {
            color: #E30613;
        }

        .grey-bg {
            background-color: #EDEFF0;
        }

        .card {
            --bs-body-bg: #fff;
            --bs-border-radius: 10px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

            img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .category {
                @include font-size(0.9375rem); // 15px
                color: #E30613;
            }

            .post-title {
                @include font-size(1.125rem); // 18px;
                color: #000000;
                font-weight: bold;
                font-weight: 600;
                line-height: 26px;
            }

            .card-body {
                min-height: 100px;

                &.wpk-box-brand:before {
                    border-top-right-radius: 0;
                }
            }

            .card-footer {
                &.wpk-box-brand:before {
                    border-top-right-radius: 0;
                }
            }
        }

        .show-more {

            &-top {
                display: none;
                text-transform: uppercase;

                @include media-breakpoint-up(lg) {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                a {
                    font-weight: bold;
                }
            }

            &-bottom {
                display: flex;
                text-transform: uppercase;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-up(lg) {
                    display: none;
                }

                a {
                    font-weight: bold;
                }
            }
        }

        a {
            text-decoration: none;
        }

        hr {
            border: 1px solid;
        }

        h1 {
            text-wrap: pretty;
        }

        h2 {
            @include rfs(2.1875rem, font-size);
            @include rfs(2.8125rem, line-height);
            text-wrap: pretty;
        }

        h3 {
            @include rfs(1.5625rem, font-size);
            @include rfs(2.1875rem, line-height);
            text-wrap: pretty;
        }

        p {
            text-wrap: pretty;
        }

        li {

            text-wrap: pretty;

            &.tick {
                list-style-image: url('https://thelogicfactory.com/wp-content/uploads/2023/09/Icon-Tick.svg');
                margin-bottom: .1em;

                span {
                    vertical-align: 0.3em;
                    transform: translate(-0.1em, 0.2em);
                }
            }
        }

        ul>li {
            list-style-type: disc;
            text-wrap: pretty;
        }

        &.single-brochure {

            iframe {
                width: 100%;
                height: 100vh;
                border: 1px solid #003375;
            }

            &.resources {

                a {
                    color: #FFF !important;

                    &:hover {
                        color: #E30613 !important;
                    }

                }
            }


        }

        &.single-webinar {

            .wp-video {

                border: 1px solid #003375;

                video {
                    width: 100%;
                    height: auto;
                }
            }

            .main-content {
                ul {
                    padding-left: 3rem;
                }
            }

            .related-webinars {

                &-post {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 3rem;
                    padding: 1.5rem;

                    @include media-breakpoint-up(lg) {
                        flex-direction: row;
                        align-items: center;
                    }

                    &.grey-bg {
                        border-radius: 10px;
                    }

                    img {
                        border-radius: 10px;
                    }

                    a {
                        color: #E30613;
                        text-decoration: none;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }

        &.single-article {

            br,
            p:empty {
                display: none;
            }

            .resources-quote {

                display: flex;
                align-items: center;

                background-color: #f2f2f2;
                color: #50626D;
                font-size: 38px;
                line-height: 45px;
                border-radius: 15px;

                li {
                    list-style-image: none;
                    list-style-type: disc;

                    @include rfs(1.75rem, font-size);
                    font-weight: bold;
                    line-height: normal;
                }

                .red {
                    @include rfs(2.375rem, font-size);
                    @include rfs(2.8125rem, line-height);
                    font-weight: bold;
                    color: #E30613;
                }

                .font-big {
                    @include rfs(3.625rem, font-size);
                    @include rfs(4.0625rem, line-height);
                    font-weight: bold;
                }

                .font-source {
                    @include rfs(1.125rem, font-size);
                    @include rfs(1.5625rem, line-height);
                }
            }

            h1 {
                color: #003375;

                &.h-35-45 {
                    font-size: 35px;
                    line-height: 45px;
                }
            }

            h2 {
                &.h-25-35 {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
        }

        &.single-whitepaper {

            a.btn.btn-primary {
                color: #fff;
            }

            .hero-carousels {

                position: relative;
                padding-block: 3rem;

                @include media-breakpoint-up(lg) {
                    padding-block: unset;
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100vw;
                    height: 100%;
                    top: 0;
                    left: calc((100vw - 100%) / -2);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 55% 0;
                    background-image: var(--bg-url);
                }

                .full-width {
                    display: none;

                    @include media-breakpoint-up(lg) {
                        display: block;
                    }
                }

                ._2x-hero-content {
                    position: relative;

                    @include media-breakpoint-up(lg) {
                        position: absolute;
                    }
                }
            }


        }
    }

    .related-resources {
        .card {
            >img {
                height: 270px;
                object-fit: cover;
            }
        }
    }
}