@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

.bootstrap-container {

    @include media-breakpoint-down(md) {

        .hero-carousels {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 70% 0;
            position: relative;
            height: 100%;

            .full-width {
                display: none;
            }

            .single-h-padding.limit-width {
                display: flex;
                height: 100%;
            }

            ._2x-hero-content {
                position: relative;
                padding-block: 3rem;
                margin-left: unset;
                margin-right: unset;
                padding-left: unset;
            }
        }
    }

    @include media-breakpoint-up(md) {
        .hero-carousels {
            background-image: none;
        }
    }

    .callout-with-cards {

        &::before {
            content: unset;
        }

        .col-lg-12 {
            padding: unset;
        }

        h2 {
            @include font-size(2.8125rem); // 45px
            color: #003375;
        }

        &-sub-heading {
            @include rfs(1.25rem, font-size);
            @include rfs(1.875rem, line-height);
            color: #000000;
            text-align: center;

            p {
                @include rfs(1.25rem, font-size);
                @include rfs(1.875rem, line-height);
            }
        }

        .contents {
            display: flex;
            align-items: flex-start;
            text-align: center;

            @include media-breakpoint-up(lg) {
                text-align: left;
            }

            .icon {
                text-align: center;
                margin-bottom: 1rem;

                @include media-breakpoint-up(lg) {
                    text-align: right;
                }
            }

            @include media-breakpoint-up(lg) {
                text-align: left;
            }

            .headline {
                margin-bottom: 0;
            }
        }
    }
}