@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

.bootstrap-container {

    @include media-breakpoint-down(md) {

        .hero-carousels {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 60% 0;
            position: relative;
            height: 100%;

            .full-width {
                display: none;
            }

            .single-h-padding.limit-width {
                display: flex;
                height: 100%;
            }

            ._2x-hero-content {
                position: relative;
                padding-block: 3rem;
                margin-left: unset;
                margin-right: unset;
                padding-left: unset;
            }
        }
    }

    @include media-breakpoint-up(md) {
        .hero-carousels {
            background-image: none;
        }
    }

    .callout-with-cards {

        &::before {
            content: unset;
        }

        &-sub-heading {
            @include rfs(1.25rem, font-size);
            @include rfs(1.875rem, line-height);
            color: #000000;
            text-align: center;

            p {
                @include rfs(1.25rem, font-size);
                @include rfs(1.875rem, line-height);
            }

            h3 {
                @include rfs(1.5625rem, font-size);
                @include rfs(2.1875rem, line-height);
                color: #003375;
            }
        }

        &-icon {

            width: 200px;

            @include media-breakpoint-up(lg) {
                width: 150px;
            }
        }

        &-headline {
            display: block;
            text-align: center;
        }

        &.stacked-cards {

            &::before {
                content: '';
                display: block;
                width: 100vw;
                height: 100%;
                background-color: #EDEFF0;
                position: absolute;
                top: 0;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }
        }

        &-footer {
            @include rfs(1.25rem, font-size);
            @include rfs(1.875rem, line-height);
            text-align: center;
        }
    }

    .cards-overview {

        position: relative;

        &.packages {

            &::before {
                content: '';
                display: block;
                width: 100vw;
                height: 100%;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
                z-index: -1;
            }

            .sub-heading {
                @include rfs(1.25rem, font-size);
                @include rfs(1.875rem, line-height);
                color: #000000;
                text-align: center;

                p {
                    @include rfs(1.25rem, font-size);
                    @include rfs(1.875rem, line-height);
                }
            }

            .card {

                border: unset;
                border-radius: unset;
                box-shadow: unset;

                img {
                    border: unset;
                    border-radius: unset;
                    box-shadow: unset;
                }
            }
        }

        &::before {
            content: '';
            display: block;
            width: 100vw;
            height: 100%;
            background-color: #EDEFF0;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

        .main-heading {
            @include rfs(2.8125rem, font-size);
            @include rfs(3.4375rem, line-height);
            color: #003375;
            text-align: center;
        }

        .card {

            border: 1px solid #ccc;
            border-radius: 15px;
            box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.29);

            .card-body {
                background: unset;
                background-color: #fff;
                text-align: center;

                p:first-child {
                    margin-top: 1rem;
                }
            }
        }
    }

}